node_modules/
.env
# Stores VSCode versions used for testing VSCode extensions
.vscode-test
# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
