node_modules/
.env
public/upload/books/*
public/upload/users/*
config/auth.js
# Stores VSCode versions used for testing VSCode extensions
.vscode-test
# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
